# Next.js build output
.next/

# Production build output
out/

# Node modules
node_modules/

# Static files
public/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Prettier ignore file
.prettierignore

# Coverage directory used by testing tools like Jest
coverage/

# Lint cache
.eslintcache

# TypeScript build artifacts
*.d.ts
dist/

commitlint.config.js
next.config.mjs