@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background-color: white;
  font-family: 'Montserrat';
}

.ql-container {
  border: none !important;
  min-height: 150px;
  background-color: white !important;
  max-height: 500px;
}

.ql-toolbar {
  border: none !important;
  border-bottom: 1px solid #dedbdb !important;
  background-color: white !important;
  border-radius: 0.75rem;
}

.ql-editor {
  padding: 1rem;
  border: none !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'MarkForMC';
  src: url('/fonts/MarkForMC/MarkForMC-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MarkForMC';
  src: url('/fonts/MarkForMC/MarkForMC-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


.sidebar-scroll-bar::-webkit-scrollbar {
  height: 4px;
  width: 2px;
}

.sidebar-scroll-bar::-webkit-scrollbar-thumb {
  background-color: #364ea2;
}

.sidebar-scroll-bar::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}
